<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="">Le Wild Coin School</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="{{ path('person_index') }}">Voir les annonces</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('person_new') }}">Deposer une annonce</a>
            </li>
            <li class="nav-item mx-3">
                <a href="{{ path('security_login') }}" class="nav-link btn btn-secondary">Se connecter</a>
            </li>
            <li class="nav-item mx-3">
                <a href="{{ path('user_registration') }}" class="nav-link btn btn-secondary">Créer un compte</a>
            </li>
        </ul>
    </div>
</nav>