{% extends 'base.html.twig' %}

{% block title %}Annonce | nouvelle{% endblock %}

{% block body %}
    <h1>Créer une nouvelle annonce</h1>

    {{ include('person/_form.html.twig') }}

    <a href="{{ path('person_index') }}">Retour à la liste de mes annonces</a>
{% endblock %}